{% extends 'base.html.twig' %}

{% block title %}Edit Mountain{% endblock %}

{% block body %}
    <h1>Edit Mountain</h1>

    {{ include('mountain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mountain_index') }}">back to list</a>

    {{ include('mountain/_delete_form.html.twig') }}
{% endblock %}
