{% extends 'base.html.twig' %}

{% block title %}New Mountain{% endblock %}

{% block body %}
    <h1>Create new Mountain</h1>

    {{ include('mountain/_form.html.twig') }}

    <a href="{{ path('app_mountain_index') }}">back to list</a>
{% endblock %}
